@page
@model WebAppDiplomTST.Pages.Tests.AllTestsModel
@using Microsoft.AspNetCore.Identity
@using WebAppDiplomTST.Data.Identity
@using WebAppDiplomTST.Data.Tests
@using Microsoft.AspNetCore.Mvc.Rendering

@inject SignInManager<ApplicationUser> SignlnManager

@if (SignlnManager.IsSignedIn(User))
{
    if (Model.ErrorMessage == null)
    {

        <form method="post">
            <div class="test-container">

                @foreach (var test in Model.Tests)
                {

                    <div class="test-square">
                        <p>Name : @test.Name</p>
                        <label>Описание : @test.Title</label>
                        <form method="post">
                            <input type="hidden" name="testId" value="@test.Id" />
                            <button type="submit" asp-page-handler="Details" asp-route-testId="@test.Id">Пройти тест</button>
                        </form>
                    </div>
                }
            </div>
            <form method="post">
                <button type="submit" class="btn btn-primary" asp-page-handler="CreatedTest">Создать тест</button>
            </form>
        </form>
    }
    else
    {
        <p>@Model.ErrorMessage</p>
        <form method="post" class="test-square">
            <button  type="submit" class="btn btn-primary" asp-page-handler="CreatedTest">Создать тест</button>
        </form>
    }
}
else
{
    <p>У вас нет прав создавать тесты</p>
}

<style>
    .test-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; /* Выравнивание по центру */
        padding: 20px;
    }

    .test-square {
        width: 200px;
        height: 200px;
        background-color: lightblue;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }

    .test-square button:hover {
        transform: scale(1.1);
        background-color: #2980b9;
    }
</style>